<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/generalStyles.css">
  <link rel="stylesheet" href="../css/landing.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>OffRoading Experience</title>
</head>

<body>

  <div class="p-spec bg-black text-center txt-white d-flex container-flex-positioning special-container">
    <p class="p-reset">Ready to know the best experience out there?</p>
    <span class="Close-btn bg-dark-black">X</span>
  </div>

  <!-- NavBar -->
  <nav>
    <ul class="d-flex container-flex-positioning l-style-none">
      <li class="nav-tab">Home</li>
      <li class="nav-tab">About</li>
      <li class="nav-tab">Trips</li>
      <li class="fs-50 dancing-text nav-tab">OffRoading Experience</li>
      <li class="nav-tab">Club</li>
      <li class="nav-tab">Shop</li>
      <li class="nav-tab">Contact</li>
      <span class="m-r-8 nav-tab"><i class="fas fa-shopping-cart"></i></span>
    </ul>
  </nav>

  <!-- Content -->

  <section class="container-img d-flex container-flex-positioning">
    <div class="text-center">
      <h3 class="txt-white fs-big"> "Just keep going... Difficult roads lead to beautiful destinations"
      </h3>
      <button class="btn-transparent-white">Enter to the Offroading World</button>
    </div>
  </section>

  <section class="d-flex container-flex-positioning container-lg">

    <div class="items-container text-center p-5">
      <div class="title-container m-b-4">
        <h2 class="upper-text fs-40">Main off roading Clubs</h2>
      </div>


      <div class="d-flex text-center items-container">

        <div class="item">
          <div class="item-content">
            <div class="item-icon-container">
              <img class="item-icon" src="../resources/icons/lake (1).png" alt="">
            </div>
            <div class="item-title-container">
              <h4 class="fs-30 dancing-text">Lake Lovers</h4>
            </div>
            <div class="item-text-container">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus recusandae quaerat
                molestiae perspiciatis necessitatibus dolores accusamus ad, error possimus.</p>
            </div>
            <div class="item-button-container">
              <button class="btn-transparent-black">Join this club</button>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="item-content">
            <div class="item-icon-container">
              <img class="item-icon" src="../resources/icons/beach.png" alt="">
            </div>
            <div class="item-title-container ">
              <h4 class="fs-30 dancing-text">Beaching</h4>
            </div>
            <div class="item-text-container">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam id mollitia consequuntur recusandae
                sequi explicabo voluptatum asperiores nostrum veniam dolorem.</p>
            </div>
            <div class="item-button-container">
              <button class="btn-transparent-black">Join this club</button>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="item-content p-2">
            <div class="item-icon-container">
              <img class="item-icon" src="../resources/icons/aurora-borealis.png" alt="">
            </div>
            <div class="item-title-container fs-small">
              <h4 class=" fs-30 dancing-text">Mountain Team</h4>
            </div>
            <div class="item-text-container">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam totam cumque blanditiis quas sunt natus?
                Quae, quam. Voluptas, excepturi quod!</p>
            </div>
            <div class="item-button-container">
              <button class="btn-transparent-black">Join this club</button>
            </div>
          </div>
        </div>

      </div>
    </div>


  </section>


  <section class="club-section container-lg">
    <div class="items-container d-flex center-content" id="item-Container">
      <div class="item">
        <img src="../resources/Images/luke-bender-729609-unsplash.jpg" alt="" height="100%" width="100%">
      </div>
      <div class="item text-center p-5 text-justify bg-black txt-white">
        <div class="item-title-container">
          <h2 class="upper-text">The club</h2>
        </div>
        <div class="item-subtitle-container">
          <h3 class="upper-text">Come Know About us!</h3>
        </div>
        <div class="item-content-container">
          <p class="m-b-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis sequi quidem soluta
            accusamus cupiditate velit, labore culpa nihil sapiente et?</p>
          <p class="m-b-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit cumque architecto
            inventore temporibus debitis quia sed natus deserunt, modi ad nemo exercitationem similique eum sapiente
            itaque autem, sequi consectetur dolore, iusto at. Neque, natus! Eum?</p>
          <p class="m-b-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias excepturi a corporis, nostrum
            sed omnis iste molestias numquam? Doloribus esse beatae ea praesentium ut, ratione, numquam inventore saepe
            voluptatibus consectetur ipsum similique expedita minus necessitatibus repellendus sunt consequuntur tempore
            quia.</p>
        </div>
        <div class="item-button-container">
          <button class="btn-transparent-white">Read More</button>
        </div>
      </div>
    </div>
  </section>

  <section class="d-flex container-flex-positioning container-lg bg-white">
    <div class="items-container text-center p-2">
      <div class="title-container">
        <h2 class="upper-text dancing-text fs-40">Popular Trips</h2>
      </div>

      <div class="d-flex text-center items-container trip-items">

        <div class="item trip-item upper-text bg-gray txt-white">
          <div class="trip-item-content">

            <div class="item-title-container">
              <h4 class="fs-small bdr-b">Land Rover trip</h4>
            </div>

            <div class="item-content-container">
              <p class="fs-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quas nobis consequuntur, tempora ad
                repellendus odit deserunt ut maiores labore, eaque atque soluta exercitationem alias accusamus rerum?
                Sunt, corporis placeat?</p>
            </div>
          </div>
          <div class="trip-item-icon-container">
            <img class="item-icon" src="../resources/Images/jannis-brandt-509311-unsplash.jpg" height="100%"
              width="100%" alt="">
          </div>
        </div>

        <div class="item trip-item upper-text bg-black txt-white">
          <div class="trip-item-content">

            <div class="item-title-container">
              <h4 class="fs-small bdr-b">fog trip</h4>
            </div>

            <div class="item-content-container">
              <p class="fs-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quas nobis consequuntur, tempora ad
                repellendus odit deserunt ut maiores labore, eaque atque soluta exercitationem alias accusamus rerum?
                Sunt, corporis placeat?</p>
            </div>
          </div>
          <div class="trip-item-icon-container">
            <img class="item-icon" src="../resources/Images/garin-chadwick-1282803-unsplash.jpg" height="100%"
              width="100%" alt="">
          </div>
        </div>

        <div class="item trip-item upper-text bg-light txt-white">
          <div class="trip-item-content">

            <div class="item-title-container">
              <h4 class="fs-small bdr-b">Volcano trip</h4>
            </div>

            <div class="item-content-container">
              <p class="fs-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quas nobis consequuntur, tempora ad
                repellendus odit deserunt ut maiores labore, eaque atque soluta exercitationem alias accusamus rerum?
                Sunt, corporis placeat?</p>
            </div>
          </div>
          <div class="trip-item-icon-container">
            <img class="item-icon" src="../resources/Images/garin-chadwick-1282803-unsplash.jpg" height="100%"
              width="100%" alt="">
          </div>
        </div>

        <div class="item trip-item upper-text bg-black txt-white">
          <div class="trip-item-content">

            <div class="item-title-container">
              <h4 class="fs-small bdr-b">forest trip</h4>
            </div>

            <div class="item-content-container">
              <p class="fs-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quas nobis consequuntur, tempora ad
                repellendus odit deserunt ut maiores labore, eaque atque soluta exercitationem alias accusamus rerum?
                Sunt, corporis placeat?</p>
            </div>
          </div>
          <div class="trip-item-icon-container">
            <img class="item-icon" src="../resources/Images/automobile-daylight-driver-761815.jpg" height="100%"
              width="100%" alt="">
          </div>
        </div>

      </div>
      <div class="item-button-container">
        <button class="btn-transparent-black">Watch the trips</button>
      </div>
    </div>
  </section>

  <section class="club-section container-lg bg-light">
    <div class="items-container d-flex center-content" id="item-Container">

      <div class="item text-center p-5 text-justify">
        <div class="item-title-container">
          <h2 class="upper-text dancing-text fs-30">Join Us!</h2>
        </div>
        <div class="item-subtitle-container">
          <h3 class="upper-text fs-30">Enroll our team and enjoy the trips!</h3>
        </div>
        <div class="item-content-container fs-20">
          <p class="m-b-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis sequi quidem soluta
            accusamus cupiditate velit, labore culpa nihil sapiente et?</p>
          <p class="m-b-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit cumque architecto
            inventore temporibus debitis quia sed natus deserunt, modi ad nemo exercitationem similique eum sapiente
            itaque autem, sequi consectetur dolore, iusto at. Neque, natus! Eum?</p>
          <p class="m-b-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias excepturi a corporis, nostrum
            sed omnis iste molestias numquam? Doloribus esse beatae ea praesentium ut, ratione, numquam inventore saepe
            voluptatibus consectetur ipsum similique expedita minus necessitatibus repellendus sunt consequuntur tempore
            quia.</p>
        </div>
        <div class="item-button-container">
          <input class="input" type="text" placeholder="Type your email">
          <button class="btn-black bg-black">Read More</button>
        </div>
      </div>

      <div class="item">
        <img src="../resources/Images/jose-carbajal-1215694-unsplash.jpg" alt="" height="100%" width="100%">
      </div>
    </div>
  </section>

  <!-- Footer -->

  <footer class="d-flex container-flex-positioning pt-2 container-sm bg-black txt-white">
    <div class=" items-container text-center">
      <div class="title-container">
        <h2 class="upper-text">OffRoading Experience</h2>
        <ul class="center-content   d-flex  l-style-none">
          <li>Home</li>
          <li class="pl-2 nav-tab">About</li>
          <li class="pl-2 nav-tab">Trips</li>
          <li class="pl-2 nav-tab">Join us</li>
        </ul>

        <ul class="center-content   d-flex  l-style-none">
          <li><span><i class="fab fa-instagram"></i></span></li>
          <li class="pl-2 nav-tab"><span><i class="fab fa-facebook"></i></span></li>
          <li class="pl-2 nav-tab"><span><i class="fab fa-pinterest"></i></span></li>
          <li class="pl-2 nav-tab"><span><i class="fab fa-twitter"></i></span></li>
        </ul>

        <p>Copyright &copy; 2019 OFF ROAD CLUB </p>

        <ul class="center-content   d-flex  l-style-none">
            <li><span class="footer-item nav-tab">Terms + conditions</span></li>
            <li class="bdr-l nav-tab"><span class="footer-item" >Legal</span></li>
            <li class="bdr-l nav-tab"><span class="footer-item">FAQ</span></li>

          </ul>
      </div>

    </div>
  </footer>

</body>

</html>
